@import "styles/variables.scss";

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
}

.header__menu-icon {
  flex-shrink: 0;
}

.ant-switch-checked {
  background-color: $title-color;
}

.ant-switch-checked:focus {
  box-shadow: 0 0 0 2px #3a3e42d8;
}

html {
  --antd-wave-shadow-color: $sub-accent;
}

@media screen and (max-width: 500px) {
  .header__menu-button {
    width: 80px;
  }
}

@media screen and (max-width: 290px) {
  .header__menu-button {
    width: 70px;
  }
}