.promise__row {
  margin-top: 63px;
  background-color: rgba(70,89,69,.9);
  padding: 63px 0;
}

.promise {
  background-color: #FFFFFF;
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px #FFFFFF, inset 0 0 0 6px rgba(70,89,69,.9);
}

.promise__title {
  display: block;
}

.promise__subtitle {
  font-size: 48px;
}

.promise__text {
  margin: 0;
}

@media screen and (max-width: 395px) {
  .promise__subtitle {
    font-size: 32px;
  }
}