$main-accent: #465945;
$sub-accent: #FFFFFF;
$main-transparent: rgba(70,89,69,.9);
$sub-transparent: rgba(255,255,255,.85);
$title-color: #2a2d30;
$title-hover: #3f4347;
$subtitle-color: #c0bfbf;
$location-highlight: #214e1e;
$location-highlight-hover: #33662d;


$link: #3a3e42;