@import "styles/variables.scss";

.main__1 {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-device-width: 480px) {
  html {
    height: calc(100% + 60px);
    min-height: calc(100% + 60px);
  }
}

.main_1__image {
  border-radius: 5px;
  width: 90%;
}

.main_1__info {
  position: absolute;
  width: 60%;
  background-color: $sub-transparent;
  padding: 40px;
  border-radius: 5px;
  left: 0;
  text-align: center;
}

.main_1__img {
  max-width: 100%;
}

.main_1__info_product-name {
  margin: 0;
}

.main_1__info_tagline {
  font-size: 48px;
  margin-bottom: 18px;
}

.main_1__info_link {
  display: inline-block;
  padding: 14px 44px;
  color: $sub-accent;
  background-color: $title-color;
  border-radius: 10px;
}

.main_1__info_link:hover {
  color: white;
  background-color: $title-hover;
}

@media screen and (max-width: 1172px) and (min-width: 998px) {
  .main_1__info_tagline {
    font-size: 32px;
  }
}

@media screen and (max-width: 997px) {
  .main__1 {
    flex-direction: column-reverse;
    height: 100%;
    margin-top: 20px;
  }

  .main_1__info {
    width: 100%;
    position: unset;
    margin-top: 20px;
  }

  .main_1__image {
    width: 100%;
  }
}

@media screen and (max-width: 395px) {
  .main_1__info_tagline {
    font-size: 32px;
  }

  .main_1__info_link {
    padding: 14px 20px;
  }
}
