.gallery__row {
  background-color: rgba(70,89,69,.9);
  padding: 63px 0;
  margin-top: 63px;
}

.gallery {
  border: 5px solid #FFFFFF;
  border-bottom: none;
  border-radius: 5px;
}

.slick-dots li {
  background: #2a2d30;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 0.2;
}

.ant-carousel .slick-dots {
  z-index: 0;
}
